body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.chat-container {
    max-width: 820px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

.chat-header {
    background: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.chatbot-name {
    margin: 0;
}

.chat-log {
    height: 370px;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.received {
    background: #f0f0f0;
    color: #333;
}

.sent {
    background: #e3f2fd;
    color: #333;
    text-align: right;
}

.image-container {
    width: 40px;
    height: 40px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

input[type="text"]focus: {
    outline: none;
}

button {
    margin-left: 10px;
    padding: 8px, 15px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

button:hover {
    background: #0056b3;
}

p {
    line-height: 2.1;
    letter-spacing: 1px;
}

#loading-indicator {
    top: 45%;
    display: none;
    left: 48%;
    align-items: center;
}